@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------
   only sitewide basic (theme) styles here
   component or singular element specific styles go to style.css
   -------------------------------------------------------------
*/

body {
  background-image: url("/darkbg.webp");
  background-color: #111;
  background-position: center;
  margin: 15px;
  color: white;
  /* should these be removed from body and added separately? */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: Lato, Gill Sans, Roboto, Oxygen, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: gray;
}

button {
  background-color: #222;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  opacity: .75;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
