/* ----------------------------------------------------
   site-wide styles are in globals.css
   ----------------------------------------------------
*/

/* FOOTER */

.footer-area {
  margin-top: 50px;
  border-top: 4px solid rgba(102, 102, 102, 0.3);
  padding-top: 20px;
  text-align: center;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Horizontally center children */
  align-items: center; /* Vertically center children */
  flex-direction: column; /* Stack children vertically */
}
.footer-image {
  margin-bottom: 20px;
}
.footer-image img {
  max-width: 25px;
}

/* HEADER */

.header-area {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar {
  list-style-type: none;
}

/* MAIN */

.main-area {
  text-align: center;
}

