/* ----------------------------------------------------
   site-wide styles are in globals.css
   ----------------------------------------------------
*/

/* CSS THEME VARIABLES */

:root {
  --dark-gray: #212121;
  --secondary-color: #2ecc71;
  --font-stack: 'Helvetica Neue', sans-serif;
  --base-padding: 16px;
}

/* FOOTER */

.footer-area {
  margin-top: 30px;
  border-top: 4px solid rgba(102, 102, 102, 0.3);
  padding-top: 20px;
  text-align: center;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Horizontally center children */
  align-items: center; /* Vertically center children */
  flex-direction: column; /* Stack children vertically */
}
.footer-image {
  margin-bottom: 20px;
}
.footer-image img {
  max-width: 25px;
}

/* GAMEFOOTER */

.game-footer {
  margin-top: 50px;
}

/* HEADER */

.header-area {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-area{
  background: linear-gradient(to bottom, white, gray);
  opacity: 85%;
  border-radius: 200px;
  border: 8px solid var(--dark-gray);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  margin-bottom: 6px;
}
.navbar {
  display: flex; /* Use Flexbox */
  justify-content: center; /* Horizontally align items */
  flex-wrap: nowrap; /* Prevent wrapping */
}
.navbar a {
  padding: 4px;
  font-size: 20px;
  color: white;
  background:var(--dark-gray);
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.navbar a:hover {
  background: white;
  color: var(--dark-gray);
}


/* MAIN */

.main-area {
  text-align: center;
}

